body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.photo {
  margin: 2px;
  border-color: #999999;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
}
